
<nav>
  <div class="logo">
    <p>MyPortfolio</p>
  </div>
  <ul>
    <li><a routerLinkActive=active id="active" routerLink="/home">Home</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li> <a routerLink="/tokens">Tokens</a></li>
    <li><a routerLink="/pricing">Pricing</a></li>
    <li> <a  routerLink="/blog">Blog</a></li>
    <li><a  routerLink="/contact-us">Contact Us</a></li>
    <li> <a routerLink="/login" >Get Started</a></li>
  </ul>
    <div class="rec">
      <div class="pol1"></div>
      <div class="pol2"></div>
    </div>
  </nav>
  