
<div class="content">
    <div class="intro">
        <div>
            <p>Your platform to create a great Portfolio</p>
            <div>
                <a routerLink="./create/create.component.html">Get Started</a>
                <div>
                  <img src="../../assets/images/play-4(24x24)@1x (1).png" alt="">
                    <span>How it works</span>
                </div>
           
            </div>
             

        </div>
        
        <div class="imgcontent">
        <img src="../../assets/images/Design team-bro.png" alt="">

        </div>

        </div>
</div>